<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testonly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DA1E87F1C0469B800AC472D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DA1E8981C0469B800AC472D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DA1E8A31C0469B800AC472D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
